<div id="about" class="about sec-inner">
  <div class="l-inner about__inner">
    <div class="about__heading">
      <span class="layer-open about-trigger">
        <svg id="about" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 235.15 69.26">
          <path class="about-path" d="M66.35,67.47c0,.38-.13,.56-.38,.56-1.19,0-3.04-.06-5.54-.19-2.5-.12-4.32-.19-5.44-.19-1.38,0-3.13,.06-5.26,.19-2,.13-3.54,.19-4.6,.19-.25,0-.38-.19-.38-.56s.12-.56,.38-.56c2.38,0,4.08-.22,5.11-.66,1.03-.44,1.55-1.22,1.55-2.35,0-.94-.38-2.25-1.13-3.94L29.84,15.95l2.35-2.91L13.98,56.12c-.88,2.13-1.31,3.88-1.31,5.25,0,3.69,3.06,5.54,9.2,5.54,.31,0,.47,.19,.47,.56s-.16,.56-.47,.56c-1.13,0-2.75-.06-4.88-.19-2.38-.12-4.44-.19-6.19-.19-1.63,0-3.5,.06-5.63,.19-1.88,.13-3.44,.19-4.69,.19-.31,0-.47-.19-.47-.56s.16-.56,.47-.56c1.75,0,3.24-.33,4.46-.99,1.22-.66,2.38-1.81,3.47-3.47,1.09-1.66,2.3-4.05,3.61-7.18L31.81,8.54c.12-.19,.34-.28,.66-.28s.5,.09,.56,.28l22.15,46.64c2.13,4.63,3.94,7.74,5.44,9.34s3.28,2.39,5.35,2.39c.25,0,.38,.19,.38,.56ZM19.52,40.35h24.87l.66,1.88H18.58l.94-1.88Z"/>
          <path class="about-path" d="M69.91,68.51c-.25,0-.41-.13-.47-.38-.06-.25,0-.44,.19-.56,2-1.38,3.41-2.67,4.22-3.89,.81-1.22,1.22-2.99,1.22-5.3V12.01c0-2.25-.23-3.88-.7-4.88-.47-1-1.27-1.5-2.39-1.5-.88,0-2.28,.41-4.22,1.22h-.19c-.19,0-.33-.16-.42-.47-.09-.31-.05-.5,.14-.56L79.02,.09l.47-.09c.19,0,.38,.08,.56,.23,.19,.16,.28,.33,.28,.52V63.72l-10.23,4.79h-.19Zm6.01-4.41l4.41-8.35c0,2.69,.67,4.91,2.02,6.66,1.34,1.75,2.99,3.04,4.93,3.85,1.94,.81,3.82,1.22,5.63,1.22,3.63,0,6.46-1.41,8.49-4.22,2.03-2.82,3.05-6.85,3.05-12.11,0-5.63-1.1-9.95-3.28-12.95-2.19-3-5.1-4.5-8.73-4.5-2.38,0-4.61,.69-6.71,2.06-2.1,1.38-4.27,3.28-6.52,5.72l-.75-.66c2.69-3.06,5.33-5.54,7.93-7.41,2.6-1.88,5.65-2.81,9.15-2.81,2.69,0,5.19,.66,7.51,1.97,2.31,1.31,4.16,3.27,5.54,5.87,1.38,2.6,2.06,5.77,2.06,9.52,0,4.5-.99,8.37-2.96,11.59-1.97,3.22-4.54,5.65-7.7,7.27-3.16,1.63-6.49,2.44-9.99,2.44-5.32,0-10.01-1.72-14.08-5.16Z"/>
          <path class="about-path" d="M126.17,66.58c-2.78-1.78-4.93-4.19-6.43-7.23-1.5-3.03-2.25-6.33-2.25-9.9,0-4.07,.99-7.52,2.96-10.37,1.97-2.85,4.5-4.97,7.6-6.38,3.1-1.41,6.24-2.11,9.43-2.11,3.69,0,6.91,.91,9.67,2.72,2.75,1.82,4.86,4.21,6.33,7.18,1.47,2.97,2.21,6.12,2.21,9.43,0,3.88-.91,7.27-2.72,10.18-1.81,2.91-4.24,5.16-7.27,6.76-3.04,1.6-6.33,2.39-9.9,2.39s-6.84-.89-9.62-2.67Zm20.32-2.77c1.88-2.44,2.82-6.19,2.82-11.26,0-3.88-.64-7.35-1.92-10.42-1.28-3.06-3.05-5.46-5.3-7.18-2.25-1.72-4.82-2.58-7.7-2.58-3.38,0-5.99,1.22-7.84,3.66-1.85,2.44-2.77,5.94-2.77,10.51,0,3.82,.62,7.32,1.88,10.51,1.25,3.19,3,5.72,5.25,7.6,2.25,1.88,4.79,2.82,7.6,2.82,3.44,0,6.1-1.22,7.98-3.66Z"/>
          <path class="about-path" d="M168.82,65.83c-1.75-1.97-2.63-4.83-2.63-8.59v-14.36c0-2.44-.22-4.21-.66-5.3-.44-1.09-1.16-1.64-2.16-1.64-.88,0-1.94,.31-3.19,.94h-.09c-.25,0-.44-.17-.56-.52-.13-.34-.06-.55,.19-.61l10.42-4.69,.38-.09c.19,0,.39,.08,.61,.23,.22,.16,.33,.33,.33,.52v22.43c0,7.26,2.63,10.89,7.88,10.89,2.38,0,4.79-.72,7.23-2.16,2.44-1.44,4.54-3.38,6.29-5.82l.47,1.03c-2.82,3.69-5.63,6.4-8.45,8.12-2.82,1.72-5.72,2.58-8.73,2.58s-5.57-.99-7.32-2.96Zm28.25-3.24c.5,.94,1.34,1.41,2.53,1.41,1.06,0,2.72-.44,4.97-1.31h.19c.25,0,.42,.14,.52,.42,.09,.28,.01,.49-.23,.61l-10.98,5.16-.38,.09c-.63,0-1.22-.72-1.78-2.16-.56-1.44-.84-3.32-.84-5.63v-18.3c0-2.5-.2-4.28-.61-5.35-.41-1.06-1.14-1.6-2.21-1.6-.88,0-1.94,.31-3.19,.94h-.09c-.25,0-.42-.17-.52-.52-.09-.34-.02-.55,.23-.61l10.42-4.69,.28-.09c.19,0,.39,.08,.61,.23,.22,.16,.33,.33,.33,.52v26.28c0,2.13,.25,3.66,.75,4.6Z"/>
          <path class="about-path" d="M216.49,67.38c-1.69-1.19-2.53-3.16-2.53-5.91v-22.05c0-1.63-.11-2.78-.33-3.47-.22-.69-.64-1.14-1.27-1.36-.62-.22-1.69-.33-3.19-.33-.25,0-.38-.2-.38-.61s.12-.61,.38-.61c2.5-.06,4.54-.73,6.1-2.02,1.56-1.28,2.47-2.99,2.72-5.11,0-.19,.25-.28,.75-.28,.44,0,.66,.09,.66,.28V58.28c0,5.07,2.47,7.6,7.41,7.6,2.88,0,5.38-.88,7.51-2.63l.19-.09c.25,0,.44,.14,.56,.42,.12,.28,.09,.49-.09,.61-2.32,1.82-4.4,3.1-6.24,3.85-1.85,.75-3.77,1.13-5.77,1.13-2.63,0-4.79-.6-6.48-1.78Zm1.31-32.47v-2.06c3.94,0,8.82-.31,14.64-.94,.12,0,.26,.23,.42,.7,.15,.47,.23,.99,.23,1.55,0,.5-.11,1.02-.33,1.55-.22,.53-.46,.77-.71,.7-4-1-8.76-1.5-14.26-1.5Z"/>
        </svg>
      </span>
    </div>

    <div class="fade-in about__text-wrap">
      <p class="about__text">
        はじめまして。<br>
        大阪にてWeb制作をしております。
      </p>
      <p class="about__text">
        京都府京丹後市で生まれ。<br>
        2022年に未経験からWeb業界に飛び込み、<br>
        現在は大阪市でフロントエンドエンジニアとして活動しています。
      </p>

    </div>
    <section class="about__wrap">
      <div class="about__img clip-path">
        <img src="../assets/images/top/profile.jpg" alt="プロフィール写真">
      </div>
      <div class="about__list-wrap">
        <h3 class="about__name"><span class="clip-path-layer">Koki Ozaki</span></h3>
        <p class="about__name-ja"><span class="clip-path-layer">尾崎 幸喜</span></p>
        <dl class="about__list">
          <dt>名前：</dt>
          <dd>尾崎 幸喜</dd>
        </dl>
        <dl class="about__list">
          <dt>所在地：</dt>
          <dd>大阪市内</dd>
        </dl>
        <dl class="about__list">
          <dt>お問い合わせ：</dt>
          <dd>koki.ozaki98@gmail.com</dd>
        </dl>
        <dl class="about__list">
          <dt>事業内容：</dt>
          <dd>
            web制作におけるディレクション、HTML・CSSコーディング、レスポンシブデザイン、CMS導入等
          </dd>
        </dl>
        
      </div>
    </section>

    <section class="about__skills">
      <h3 class="about__skills-title">Skills</h3>
      
      <div class="skills-container">
        <div class="skill-category">
          <h4>言語</h4>
          <div class="skill-items">
            <div class="skill-item">
              <div class="skill-info">
                <span class="skill-name">HTML</span>
                <span class="skill-percentage">95%</span>
              </div>
              <div class="skill-bar">
                <div class="skill-progress" data-width="95"></div>
              </div>
            </div>
            <div class="skill-item">
              <div class="skill-info">
                <span class="skill-name">SCSS</span>
                <span class="skill-percentage">95%</span>
              </div>
              <div class="skill-bar">
                <div class="skill-progress" data-width="95"></div>
              </div>
            </div>
            <div class="skill-item">
              <div class="skill-info">
                <span class="skill-name">JavaScript</span>
                <span class="skill-percentage">90%</span>
              </div>
              <div class="skill-bar">
                <div class="skill-progress" data-width="90"></div>
              </div>
            </div>
            <div class="skill-item">
              <div class="skill-info">
                <span class="skill-name">PHP</span>
                <span class="skill-percentage">85%</span>
              </div>
              <div class="skill-bar">
                <div class="skill-progress" data-width="85"></div>
              </div>
            </div>
            <div class="skill-item">
              <div class="skill-info">
                <span class="skill-name">Python</span>
                <span class="skill-percentage">60%</span>
              </div>
              <div class="skill-bar">
                <div class="skill-progress" data-width="60"></div>
              </div>
            </div>
          </div>
        </div>

        <div class="skill-category">
          <h4>フレームワーク & ライブラリ</h4>
          <div class="skill-items">
            <div class="skill-item">
              <div class="skill-info">
                <span class="skill-name">React</span>
                <span class="skill-percentage">80%</span>
              </div>
              <div class="skill-bar">
                <div class="skill-progress" data-width="80"></div>
              </div>
            </div>
            <div class="skill-item">
              <div class="skill-info">
                <span class="skill-name">Vue.js</span>
                <span class="skill-percentage">75%</span>
              </div>
              <div class="skill-bar">
                <div class="skill-progress" data-width="75"></div>
              </div>
            </div>
            <div class="skill-item">
              <div class="skill-info">
                <span class="skill-name">Laravel</span>
                <span class="skill-percentage">80%</span>
              </div>
              <div class="skill-bar">
                <div class="skill-progress" data-width="80"></div>
              </div>
            </div>
            <div class="skill-item">
              <div class="skill-info">
                <span class="skill-name">Node.js</span>
                <span class="skill-percentage">75%</span>
              </div>
              <div class="skill-bar">
                <div class="skill-progress" data-width="75"></div>
              </div>
            </div>
          </div>
        </div>

        <div class="skill-category">
          <h4>その他</h4>
          <div class="skill-items">
            <div class="skill-item">
              <div class="skill-info">
                <span class="skill-name">Git</span>
                <span class="skill-percentage">85%</span>
              </div>
              <div class="skill-bar">
                <div class="skill-progress" data-width="85"></div>
              </div>
            </div>
            <div class="skill-item">
              <div class="skill-info">
                <span class="skill-name">MySQL</span>
                <span class="skill-percentage">80%</span>
              </div>
              <div class="skill-bar">
                <div class="skill-progress" data-width="80"></div>
              </div>
            </div>
            <div class="skill-item">
              <div class="skill-info">
                <span class="skill-name">CMS</span>
                <span class="skill-percentage">85%</span>
              </div>
              <div class="skill-bar">
                <div class="skill-progress" data-width="85"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>


<style lang="scss">
  @import '../styles/vars.scss';

  .about {
    width: 100%;
    position: relative;
    padding-bottom: 0;

    &__inner {
      position: relative;
      
    }

    &__heading {
      width: 100%;
      cursor: pointer;
      margin-bottom: vw-pc(100);

      .layer-open {
        display: inline-block;
        width: 100%;
      }

      svg {
        height: vw-pc(200);
        width: auto;

        @include max-screen($bp-sp) {
          height: 8rem;
        }

        path {
          opacity: 0;
          transition: fill 0.5s ease;
        }

      }
    }

    &__wrap {
      display: flex;
      justify-content: space-between;
      align-items: start;
      gap: 5rem;
    }

    &__img {
      width: 30%;
      aspect-ratio: 1;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__list-wrap {
      width: 65%;
    }

    &__name {
      font-size: 2.2rem;
      // margin-bottom: 1rem;
      font-weight: normal;
      font-family: "Cormorant Garamond", serif;
    }

    &__name-ja {
      font-size: 2.4rem;
      margin-bottom: 3rem;
    }

    &__list {
      display: flex;
      justify-content: start;
      margin-bottom: 0.5rem;

      dt {
        font-size: 1.6rem;
        font-weight: bold;
        width: 20%;
      }
      dd {
        font-size: 1.6rem;
        width: 80%;
      }
    }

    &__text-wrap {
      margin-bottom: 5rem;
    }

    &__text {
      font-size: 1.6rem;
      line-height: 2;
      margin-bottom: 2rem;
    }

    &__skills {
      margin-top: vw-pc(100);

      &-title {
        font-size: vw-pc(40);
        margin-bottom: vw-pc(50);
      }
    }
  }

  .skills-container {
    display: grid;
    gap: vw-pc(50);
  }

  .skill-category {
    h4 {
      font-size: vw-pc(24);
      margin-bottom: vw-pc(30);
    }
  }

  .skill-items {
    display: grid;
    gap: vw-pc(20);
  }

  .skill-item {
    .skill-info {
      display: flex;
      justify-content: space-between;
      margin-bottom: vw-pc(10);
      font-size: vw-pc(16);
    }

    .skill-bar {
      height: vw-pc(8);
      background: rgba(#000, 0.1);
      border-radius: vw-pc(4);
      overflow: hidden;
    }

    .skill-progress {
      width: 0;
      height: 100%;
      background: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
      transform-origin: left;
      border-radius: vw-pc(4);
    }
  }

  .about-open {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: vw-pc(100);
    height: vw-pc(100);
    background: #c13332;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;

    @include max-screen($bp-sp) {
      width: 7rem;
      height: 7rem;
    }

    &::after {
      content: "";
      width: 100%;
      height: 100%;
      background: #fff;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 2;
      transition: 0.5s;
    }

    svg {
      width: vw-pc(30);
      position: relative;
      z-index: 3;

      @include max-screen($bp-sp) {
        width: 2rem;
      }
    }

    &.hover {
      &::after {
        width: 0;
      }
    }
    
  }

  .about-path {
    fill: #000; 
    transition: fill 0.5s ease;
  }
  
</style>

<script>
  import {
		ScrollTrigger
	} from "gsap/ScrollTrigger";
  import gsap from "../scripts/gsap";

  function initSkillsAnimation() {
    const skills = document.querySelectorAll('.skill-progress');
  
    ScrollTrigger.create({
      trigger: '.about__skills',
      start: 'top 65%',
      onEnter: () => {
        skills.forEach(skill => {
          const width = skill.dataset.width;
          gsap.to(skill, {
            width: `${width}%`,
            duration: 1.5,
            ease: 'power4.out',
            stagger: {
              amount: 0.3
            }
          }) 
        })
      }
    })

  }


  window.addEventListener('load', () => {
    gsap.registerPlugin(ScrollTrigger);

    function animateSVG(className) {
      const paths = document.querySelectorAll(`.${className}`);

      paths.forEach((path, index) => {
        gsap.fromTo(path,
          { opacity: 0, y: 50, x: 20 },
          {
            opacity: 1,
            y: 0,
            x: 0,
            duration: 0.5,
            delay: index * 0.1,
            scrub: true,
            ease: 'power2.out'
          }      
        );
      });
    }

    function createTrigger(triggerClass, pathClass) {
      ScrollTrigger.create({
        trigger: `.${triggerClass}`,
        start: "top 65%",
        end: "bottom top",
        once: true,
        onEnter: () => animateSVG(pathClass),
      });
    }

    createTrigger('about', 'about-path');
    initSkillsAnimation();
  });
</script>