<div id="contact" class="contact sec-inner">
  <div class="l-inner contact__inner">
    <div class="contact__text">
      <a href="/contact/" class="layer-open contact-trigger">  
        <svg id="contact" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 292.68 60.9">
          <path class="contact-path" d="M43.92,.84c2.69,.56,5.38,1.53,8.07,2.91,.44,.25,.69,.47,.75,.66,.06,.19,.16,.66,.28,1.41l1.13,11.17c0,.19-.17,.3-.52,.33-.34,.03-.55-.05-.61-.23C50.14,6.63,43.7,1.41,33.69,1.41c-5.26,0-9.9,1.16-13.94,3.47-4.04,2.32-7.15,5.62-9.34,9.9-2.19,4.29-3.28,9.28-3.28,14.97s1.22,10.43,3.66,14.97c2.44,4.54,5.71,8.12,9.81,10.75,4.1,2.63,8.55,3.94,13.37,3.94,5.13,0,9.29-1.25,12.48-3.75,3.19-2.5,5.63-6.32,7.32-11.45,0-.12,.16-.19,.47-.19,.44,0,.66,.09,.66,.28l-.94,10.32c-.06,.75-.16,1.22-.28,1.41-.13,.19-.38,.41-.75,.66-3.25,1.56-6.3,2.66-9.15,3.28-2.85,.62-6.12,.94-9.81,.94-6.57,0-12.43-1.3-17.6-3.89-5.16-2.6-9.18-6.24-12.06-10.93C1.44,41.39,0,36.01,0,29.94s1.47-11.09,4.41-15.62c2.94-4.54,6.99-8.05,12.15-10.56C21.73,1.25,27.53,0,33.97,0c3.94,0,7.26,.28,9.95,.84Z"/>
          <path class="contact-path" d="M71.84,58.23c-2.78-1.78-4.93-4.19-6.43-7.23-1.5-3.03-2.25-6.33-2.25-9.9,0-4.07,.99-7.52,2.96-10.37,1.97-2.85,4.5-4.97,7.6-6.38,3.1-1.41,6.24-2.11,9.43-2.11,3.69,0,6.91,.91,9.67,2.72,2.75,1.82,4.86,4.21,6.33,7.18,1.47,2.97,2.21,6.12,2.21,9.43,0,3.88-.91,7.27-2.72,10.18-1.81,2.91-4.24,5.16-7.27,6.76-3.04,1.6-6.33,2.39-9.9,2.39s-6.84-.89-9.62-2.67Zm20.32-2.77c1.88-2.44,2.82-6.19,2.82-11.26,0-3.88-.64-7.35-1.92-10.42-1.28-3.06-3.05-5.46-5.3-7.18-2.25-1.72-4.82-2.58-7.7-2.58-3.38,0-5.99,1.22-7.84,3.66-1.85,2.44-2.77,5.94-2.77,10.51,0,3.82,.62,7.32,1.88,10.51,1.25,3.19,3,5.72,5.25,7.6,2.25,1.88,4.79,2.82,7.6,2.82,3.44,0,6.1-1.22,7.98-3.66Z"/>
          <path class="contact-path" d="M108.67,59.12c0-.38,.09-.56,.28-.56,1.69,0,2.94-.17,3.75-.52,.81-.34,1.36-.95,1.64-1.83,.28-.88,.42-2.25,.42-4.13v-18.58c0-2.13-.25-3.66-.75-4.6-.5-.94-1.35-1.41-2.53-1.41-1,0-2.69,.47-5.07,1.41h-.19c-.25,0-.42-.14-.52-.42-.09-.28-.02-.48,.23-.61l10.89-5.16c.12-.06,.31-.09,.56-.09,.56,0,1.16,.72,1.78,2.16,.62,1.44,.94,3.28,.94,5.54v21.77c0,1.88,.14,3.25,.42,4.13,.28,.88,.83,1.49,1.64,1.83,.81,.34,2.06,.52,3.75,.52,.19,0,.28,.19,.28,.56s-.09,.56-.28,.56c-1.44,0-2.57-.03-3.38-.09l-5.07-.09-5.16,.09c-.81,.06-1.94,.09-3.38,.09-.19,0-.28-.19-.28-.56Zm25.24,0c0-.38,.09-.56,.28-.56,1.69,0,2.94-.17,3.75-.52,.81-.34,1.36-.95,1.64-1.83,.28-.88,.42-2.25,.42-4.13v-15.2c0-3.75-.7-6.49-2.11-8.21-1.41-1.72-3.58-2.58-6.52-2.58-2.31,0-4.65,.72-6.99,2.16-2.35,1.44-4.36,3.41-6.05,5.91l-.38-1.13c2.75-3.69,5.47-6.41,8.16-8.16,2.69-1.75,5.47-2.63,8.35-2.63,3.44,0,6.11,.99,8.02,2.96,1.91,1.97,2.86,4.8,2.86,8.49v18.39c0,1.88,.14,3.25,.42,4.13,.28,.88,.83,1.49,1.64,1.83,.81,.34,2.06,.52,3.75,.52,.19,0,.28,.19,.28,.56s-.09,.56-.28,.56c-1.44,0-2.57-.03-3.38-.09l-5.07-.09-5.16,.09c-.81,.06-1.94,.09-3.38,.09-.19,0-.28-.19-.28-.56Z"/>
          <path class="contact-path" d="M164.41,59.03c-1.69-1.19-2.53-3.16-2.53-5.91V31.06c0-1.63-.11-2.78-.33-3.47-.22-.69-.64-1.14-1.27-1.36-.63-.22-1.69-.33-3.19-.33-.25,0-.38-.2-.38-.61s.12-.61,.38-.61c2.5-.06,4.54-.73,6.1-2.02,1.56-1.28,2.47-2.99,2.72-5.11,0-.19,.25-.28,.75-.28,.44,0,.66,.09,.66,.28V49.92c0,5.07,2.47,7.6,7.41,7.6,2.88,0,5.38-.88,7.51-2.63l.19-.09c.25,0,.44,.14,.56,.42,.12,.28,.09,.49-.09,.61-2.32,1.82-4.4,3.1-6.24,3.85-1.85,.75-3.77,1.13-5.77,1.13-2.63,0-4.79-.6-6.48-1.78Zm1.31-32.47v-2.06c3.94,0,8.82-.31,14.64-.94,.12,0,.27,.23,.42,.7,.16,.47,.23,.99,.23,1.55,0,.5-.11,1.02-.33,1.55-.22,.53-.45,.77-.7,.7-4-1-8.76-1.5-14.26-1.5Z"/>
          <path class="contact-path" d="M192.14,58.51c-1.28-1.22-1.92-2.77-1.92-4.65s.75-3.5,2.25-4.88c1.5-1.38,3.97-2.69,7.41-3.94l11.26-4.22,.28,1.22-9.95,3.85c-1.75,.69-3.02,1.49-3.8,2.39-.78,.91-1.17,1.99-1.17,3.24,0,1.5,.48,2.77,1.45,3.8,.97,1.03,2.24,1.55,3.8,1.55,1.25,0,2.75-.5,4.5-1.5l5.91-3.57,.19,1.22-6.94,4.5c-1.56,1-2.94,1.72-4.13,2.16-1.19,.44-2.44,.66-3.75,.66-2.32,0-4.11-.61-5.4-1.83Zm21.54,1.92c-.94,0-1.75-.72-2.44-2.16-.69-1.44-1.03-3.35-1.03-5.72v-17.74c0-7.01-1.97-10.51-5.91-10.51-2.13,0-3.74,.7-4.83,2.11-1.1,1.41-1.83,3.02-2.21,4.83-.25,1.19-.61,2.13-1.08,2.82-.47,.69-1.3,1.03-2.49,1.03-1,0-1.77-.28-2.3-.84-.53-.56-.8-1.22-.8-1.97,0-1.5,.97-3,2.91-4.5,1.94-1.5,4.25-2.75,6.94-3.75,2.69-1,5.1-1.5,7.23-1.5,2.56,0,4.5,.81,5.82,2.44,1.31,1.63,1.97,3.97,1.97,7.04v17.55c0,2.19,.28,3.79,.84,4.79,.56,1,1.47,1.5,2.72,1.5s2.82-.41,4.69-1.22h.19c.25,0,.41,.14,.47,.42,.06,.28-.03,.49-.28,.61l-9.67,4.6c-.25,.12-.5,.19-.75,.19Z"/>
          <path class="contact-path" d="M235.73,58.14c-2.75-1.78-4.79-4.08-6.1-6.9-1.31-2.82-1.97-5.79-1.97-8.92,0-4,1-7.49,3-10.46,2-2.97,4.58-5.26,7.74-6.85s6.4-2.39,9.71-2.39c2.75,0,5.27,.55,7.55,1.64,2.28,1.1,3.43,2.46,3.43,4.08,0,.81-.3,1.52-.89,2.11s-1.39,.89-2.39,.89c-1.69,0-3.07-1.03-4.13-3.1-.81-1.25-1.69-2.19-2.63-2.82-.94-.62-2.28-.94-4.04-.94-3.5,0-6.24,1.36-8.21,4.08-1.97,2.72-2.96,6.37-2.96,10.93,0,5.26,1.31,9.57,3.94,12.95,2.63,3.38,6.57,5.07,11.82,5.07,3.82,0,7.01-1.03,9.57-3.1h.09c.19,0,.36,.09,.52,.28,.16,.19,.17,.34,.05,.47-2.19,1.94-4.4,3.36-6.62,4.27-2.22,.91-4.65,1.36-7.27,1.36-4.07,0-7.48-.89-10.23-2.67Z"/>
          <path class="contact-path" d="M274.02,59.03c-1.69-1.19-2.53-3.16-2.53-5.91V31.06c0-1.63-.11-2.78-.33-3.47-.22-.69-.64-1.14-1.27-1.36-.63-.22-1.69-.33-3.19-.33-.25,0-.38-.2-.38-.61s.12-.61,.38-.61c2.5-.06,4.54-.73,6.1-2.02,1.56-1.28,2.47-2.99,2.72-5.11,0-.19,.25-.28,.75-.28,.44,0,.66,.09,.66,.28V49.92c0,5.07,2.47,7.6,7.41,7.6,2.88,0,5.38-.88,7.51-2.63l.19-.09c.25,0,.44,.14,.56,.42,.12,.28,.09,.49-.09,.61-2.32,1.82-4.4,3.1-6.24,3.85-1.85,.75-3.77,1.13-5.77,1.13-2.63,0-4.79-.6-6.48-1.78Zm1.31-32.47v-2.06c3.94,0,8.82-.31,14.64-.94,.12,0,.26,.23,.42,.7,.16,.47,.23,.99,.23,1.55,0,.5-.11,1.02-.33,1.55-.22,.53-.45,.77-.7,.7-4-1-8.76-1.5-14.26-1.5Z"/>
        </svg>
      </a>
    </div>
    <p class="contact__heading">
      From Basics to Advanced: <br>
      Web Development Tips and Tricks
    </p>
    <a href="/contact/" class="contact-open contact-trigger">
      <svg id="_レイヤー_1" data-name="レイヤー 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40.41 16.36">
        <line style="fill: none; stroke: #231815; stroke-miterlimit: 20; stroke-width: 2px;" x1="38.24" y1="8.18" y2="8.18"/>
        <polygon style="fill: #231815;" points="31.61 0 30.25 1.46 37.47 8.18 30.25 14.89 31.61 16.36 40.41 8.18 31.61 0"/>
      </svg>
    </a>
  </div>
</div>


<style lang="scss">
  @import '../styles/vars.scss';

  .contact {
    width: 100%;
    height: 100vh;
    position: relative;

    &__inner {
      height: 100vh;
      position: relative;
      
    }

    &__text {
      width: 100%;
      cursor: pointer;
      margin-bottom: vw-pc(50);

      .layer-open {
        display: inline-block;
        width: 100%;
      }

      svg {
        height: 18rem;
        width: auto;

        @include max-screen($bp-sp) {
          height: 8rem;
        }

        path {
          opacity: 0;
          transition: fill 0.5s ease;
        }

      }
    }

    &__heading {
      font-family: "Cormorant Garamond", serif;
      font-weight: 400;
      font-size: vw-pc(40);
      margin-bottom: vw-pc(80);

      @include max-screen($bp-sp) {
        font-size: 1.4rem;
        margin-bottom: 3rem;
      }
    }
  }

  .contact-open {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: vw-pc(100);
    height: vw-pc(100);
    background: #26ff7d;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;

    @include max-screen($bp-sp) {
      width: 7rem;
      height: 7rem;
    }

    &::after {
      content: "";
      width: 100%;
      height: 100%;
      background: #fff;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 2;
      transition: 0.5s;
    }

    svg {
      width: vw-pc(20);
      position: relative;
      z-index: 3;

      @include max-screen($bp-sp) {
        width: 2rem;
      }
    }

    &.hover {
      &::after {
        width: 0;
      }
    }
    
  }

  .contact-path {
    fill: #000; 
    transition: fill 0.5s ease;
  }
  
</style>

<script>
  import {
		ScrollTrigger
	} from "gsap/ScrollTrigger";
  import gsap from "../scripts/gsap";

  window.addEventListener('load', () => {
    gsap.registerPlugin(ScrollTrigger);

    function animateSVG(className) {
      const paths = document.querySelectorAll(`.${className}`);

      paths.forEach((path, index) => {
        gsap.fromTo(path,
          { opacity: 0, y: 50, x: 20 },
          {
            opacity: 1,
            y: 0,
            x: 0,
            duration: 0.8,
            delay: index * 0.1,
            scrub: true,
            ease: 'power2.out'
          }      
        );
      });
    }

    function createTrigger(triggerClass, pathClass) {
      ScrollTrigger.create({
        trigger: `#${triggerClass}`,
        start: "top 70%",
        end: "bottom top",
        once: true,
        onEnter: () => animateSVG(pathClass),
      });
    }

    createTrigger('contact', 'contact-path');

    // ホバーエフェクトの追加
    const contactLink = document.querySelector('.contact__text .layer-open');
    const arrow = document.querySelector('.contact-open');
    const contactPaths = document.querySelectorAll('.contact-path');
    const contactTriggers = document.querySelectorAll('.contact-trigger');

    contactTriggers.forEach((trigger) => {
      trigger.addEventListener('click', (e) => {
        e.preventDefault();
      });
    });

    function applyHoverEffect(element, colorOnHover, colorOnLeave) {
      element.addEventListener('mouseenter', () => {
        contactPaths.forEach((path, index) => {
          path.style.transition = `fill 0.5s ease ${index * 0.05}s`;
          path.style.fill = colorOnHover;
        });
        arrow.classList.add('hover');
      });

      element.addEventListener('mouseleave', () => {
        contactPaths.forEach((path, index) => {
          path.style.transition = `fill 0.5s ease ${index * 0.05}s`;
          path.style.fill = colorOnLeave;
        });
        arrow.classList.remove('hover');
      });
    }

    applyHoverEffect(contactLink, '#26ff7d', '#000');
    applyHoverEffect(arrow, '#26ff7d', '#000');
  });
</script>